<hr style="margin: 50px 0;">
<div class="author-card">
  {{/*  <img srcset="/img/me-1x.png, /img/me-1_5x.png 1.5x, /img/me-2x.png 2x" src="/img/me.png" alt="Jason Scott loading="lazy" class="p-author h-card u-photo">  */}}
  <p>Personal blog by <a class="p-author h-card" href="/about/#me">Jason Scott</a>. I enjoy single malt scotch, cigars, my homelab, electronics, linux and spending time with my wife and three boys.</p>
  <p>✉️ Feedback or corrections? <a href="/about/#contact-info">Let me know</a>.</p>
</div>
